html, body {
  background-color: #5D6D7E;
  font-size: 16px;
  font-family: "Bookman Old Style", serif;
}

h1{
  border-style: double;
  border-radius: 10px;
  border-width: 2px;
  background-color: #C0392B;
  color: black;
  border-color: black;
  text-align: center;
}
nav ul li {
  display:inline
}
/*https://menuhover.com/ some inspiration from this website*/
nav ul a{
  text-decoration: none;
  font-size: 20px;
  color: black;
  padding: 10px 20px;
  margin: 0 5px;
  position: relative;
  overflow: hidden;
  border-style: solid;
  border-color: transparent black ;
}
nav ul a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 8px;
  background-color: #C0392B ;
  width: 0;
  transition: width 0.3s ease;
}
nav ul a:hover::after {
  width: 100%;
  animation: heartbeat116 1.5s infinite;

}
@keyframes heartbeat116 {
  0%, 100% {
    width: 100%;
  }
  50% {
    width: 60%;
  }
}
a:hover{
  text-decoration: underline;
  color: darkred;
}

a:link:hover {
  text-decoration: underline;
  text-decoration-color: #2C3E50;
}
#navigation-bar{
  position: relative;
  background-color: #F4D03F;
  border-color: black;
  border-style: double;
}
.iFrame{
  height: 100vh;
  width: 100vw;
  border: none;
}
.A{
  border-style: wave;
  border-color: red;
}






